.logo
  %h1 Time Tracker
%ul.nav.nav-tabs
  %li{:class => "#{active?(root_path)}", :role => "presentation"}
    = link_to 'Home', root_path

  - if current_user.present? && !current_user.admin?
    %li{:class => "#{active?(posts_path)}", :role => "presentation"}
      = link_to 'Time Entries', posts_path
    %li{class: "#{active?(new_post_path)}"}
      = link_to 'Request Overtime', new_post_path, id: 'new_post_tab'
    %li{class: "#{active?(new_skill_path)}"}
      = link_to 'Add New Skill', new_skill_path, id: 'new_skill_tab'
    %li{class: "#{active?(skills_path)}"}
      = link_to 'My Skills', skills_path, id: 'skills_path_tab'

  - if policy(AuditLog).index?
    %li{:class => "#{active?(audit_logs_path)}", :role => "presentation"}
      = link_to 'Aduit Log', audit_logs_path, id: 'audit_log_index'

  - if current_user.present?
    %li.pull-right
      = current_user.full_name
    %li.dropdown.pull-right{:role => "presentation"}
      %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        Account
        %span.caret
      %ul.dropdown-menu

        -# TODO
        - if current_user.try(:type) == 'AdminUser'
          %li
            = link_to 'admin dashboard', admin_root_path
        %li
          = link_to 'Logout', destroy_user_session_path, method: :delete
