- pending_approvals.each do |pending_approval|
  .homepage-block.col-md-3.text-center.shadow
    %h4
      = pending_approval.user.full_name
    %hr
    %p
      %span.pending-details
        Hours:
      = pending_approval.hours
    %p
      %span.pending-details
        Date Submitted:
      = pending_approval.date
    %p
      %span.pending-details
        Rationale:
      = truncate pending_approval.rationale, length: 100
    %hr
    .row
      .col-md-6
        = link_to 'Review', edit_post_path(pending_approval), class: 'btn btn-warning btn-block', id: "review_#{pending_approval.id}"

      .col-md-6
        = link_to 'Approve', approve_post_path(pending_approval), class: 'btn btn-success btn-block', id: "approve_#{pending_approval.id}"
