- unsubmitted_posts.each do |unsubmitted_post|
  %a{href: post_path(unsubmitted_post)}
    .homepage-block.col-md-3.text-center.shadow
      %h4
        = unsubmitted_post.date
        = link_to '', post_path(unsubmitted_post), method: :delete, class:'pull-right fa fa-trash-o fa-lg index-icons'
      %hr
      %p
        %span.pending-details
          Rationale:
        = truncate unsubmitted_post.rationale, length: 100
      %p
        %span.pending-details
          Hours:
        = unsubmitted_post.hours
      %hr
      .row
        .col-md-6
          = link_to 'Edit', edit_post_path(unsubmitted_post), class: 'btn btn-warning btn-block', id: "review_#{unsubmitted_post.id}"

        .col-md-6
          = link_to 'Submit', submit_post_path(unsubmitted_post), class: 'btn btn-success btn-block', id: "approve_#{unsubmitted_post.id}"
