- if post.errors.any?
  - post.errors.full_messages.each do |error|

    -#= js add_gritter(error, title: 'Error', sticky: false )
    = js add_gritter(error, title: 'Notifications just for you', sticky: false)
= form_for post, class: 'form-horizontal' do |f|

  .form-group
    = f.label :date, for: 'date', class: 'control-label'
    = f.date_field :date, id: 'date', class: 'form-control'

  .form-group
    = f.label :rationale, for: 'rationale'
    = f.text_area :rationale, id: 'rationale', class: 'form-control'

  = render partial: 'status', locals: {f: f} if current_user.type == 'AdminUser'


  = f.submit 'Save', class: 'btn btn-primary btn-block'
