%tr
  %td
    = post.id
  %td
    = post.date
  %td
    = truncate post.rationale
  %td
    = post.user.full_name
  %td
    = status_label(post.status)
  %td
    - if policy(post).update?
      = link_to 'Edit', edit_post_path(post), id: "edit-post-#{post.id}"
  %td
    = link_to 'Delete', post_path(post), method: :delete, id: "delete-post-#{post.id}", data: {confirm: 'Are you sure?'}